/* Set the sidebar's width */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0; /* Dark gray background */
    padding-top: 125px; /* Adjust the top size of the sidebar */
}

/* Style links inside the sidebar */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000000; /* Light gray text */
    display: block;
}

/* Change color on hover */
.sidebar a:hover {
    color: #000000; /* White text */
    background-color: #ccc;
}

/* Move the logout link to the bottom */
.sidebar a:last-child {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
}

/* Style the main content */
.main-content {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 20px;
}
/* Custom CSS for navbar */

.navbar {
    background-color: #6c88a0; /* Change background color */
}

.navbar-brand {
    color: #000000; /* Change brand text color */
}

.navbar-brand:hover {
    color: #030303; /* Change brand text color on hover */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Change link text color */
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Change link text color on hover */
}
.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    /* Adjust top, bottom, left, right properties as needed */
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}


